
.nav {
    text-align: center; /* Center the buttons horizontally */
}

.btn:hover {
    transition-delay: 180ms;
    background-color: rgba(79, 78, 78, 0.558);
}

.btn:not(.menu):before {
    content: ""; /* Add content to create the vertical line */
    position: absolute; /* Position the line absolutely */
    top: 0;
    bottom: 0;
    left: -10px; /* Adjust the position to overlap with the previous button */
    width: 1px; /* Set width of the vertical line */
    background-color: black; /* Set color of the vertical line */
}

.visibledevice {
    display:block;
}


.main {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 0px;
    font-family: helvetica;
}

.GoToMenuBtn {
    background-color: #faf0e6;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    font-family: helvetica;
    margin-left: 35%;
    border-radius: 10px;
    text-decoration: none;
    color: black;
}

.btn{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
@keyframes scrollBackground {
    0% {
        background-image: url('/public/bgpic/bgc1.jpg?v=1');
        background-position: 0% 0%; /* Start positions for each background image */
    } 5% {
        background-image: url('/public/bgpic/bgc2.jpg?v=1');
        background-position: 10% 0%; /* Start positions for each background image */
    } 10% {
        background-image: url('/public/bgpic/bgc3.jpg?v=1');
        background-position: 20% 0%; /* Start positions for each background image */
    } 15% {
        background-image: url('/public/bgpic/bgc4.jpg?v=1');
        background-position: 30% 0%; /* Start positions for each background image */
    } 20% {
        background-image: url('/public/bgpic/cbn1.jpg?v=1');
        background-position: 40% 0%; /* Start positions for each background image */
    } 25% {
        background-image: url('/public/bgpic/cbn2.jpg?v=1');
        background-position: 50% 0%; /* Start positions for each background image */
    } 30% {
        background-image: url('/public/bgpic/cbn3.jpg?v=1');
        background-position: 60% 0%; /* Start positions for each background image */
    } 35% {
        background-image: url('/public/bgpic/cbn4.jpg?v=1');
        background-position: 70% 0%; /* Start positions for each background image */
    } 40% {
        background-image: url('/public/bgpic/glr1.jpg?v=1');
        background-position: 80% 0%; /* Start positions for each background image */
    } 45% {
        background-image: url('/public/bgpic/hb1.jpg?v=1');
        background-position: 90% 0%; /* Start positions for each background image */
    } 50% {
        background-image: url('/public/bgpic/hb2.jpg?v=1');
        background-position: 100% 0%; /* Start positions for each background image */
    } 55% {
        background-image: url('/public/bgpic/psg1.jpg?v=1');
        background-position: 110% 0%; /* Start positions for each background image */
    } 60% {
        background-image: url('/public/bgpic/psg2.jpg?v=1');
        background-position: 120% 0%; /* Start positions for each background image */
    } 65% {
        background-image: url('/public/bgpic/psg3.jpg?v=1');
        background-position: 130% 0%; /* Start positions for each background image */
    } 70% {
        background-image: url('/public/bgpic/psg4.jpg?v=1');
        background-position: 140% 0%; /* Start positions for each background image */
    } 75% {
        background-image: url('/public/bgpic/ttt1.jpg?v=1');
        background-position: 150% 0%; /* Start positions for each background image */
    } 80% {
        background-image: url('/public/bgpic/ttt2.jpg?v=1');
        background-position: 160% 0%; /* Start positions for each background image */
    } 85% {
        background-image: url('/public/bgpic/ysb1.jpg?v=1');
        background-position: 170% 0%; /* Start positions for each background image */
    } 90% {
        background-image: url('/public/bgpic/ysb2.jpg?v=1');
        background-position: 180% 0%; /* Start positions for each background image */
    } 95% {
        background-image: url('/public/bgpic/ysb3.jpg?v=1');
        background-position: 190% 0%; /* Start positions for each background image */
    } 100% {
        background-image: url('/public/bgpic/ysb4.jpg?v=1');
        background-position: 200% 0%; /* Start positions for each background image */
    } 
}
@keyframes scrollBackground2 {
    0% {background-image: url('/public/bgpic/bgc1.jpg'), url('/public/bgpic/bgc2.jpg'), url('/public/bgpic/bgc3.jpg'), url('/public/bgpic/bgc4.jpg'), url('/public/bgpic/cbn1.jpg'), url('/public/bgpic/cbn2.jpg'), url('/public/bgpic/cbn3.jpg'), url('/public/bgpic/cbn4.jpg'), url('/public/bgpic/glr1.jpg'), url('/public/bgpic/hb1.jpg'), url('/public/bgpic/hb2.jpg'), url('/public/bgpic/psg1.jpg'), url('/public/bgpic/psg2.jpg'), url('/public/bgpic/psg3.jpg'), url('/public/bgpic/psg4.jpg'), url('/public/bgpic/ttt1.jpg'), url('/public/bgpic/ttt2.jpg'), url('/public/bgpic/ysb1.jpg'), url('/public/bgpic/ysb2.jpg'),url('/public/bgpic/ysb3.jpg'), url('/public/bgpic/ysb4.jpg');
        background-position: 
        100% 0%,
        50% 0%,
        0% 0%,
        -50% 0%,
        -100% 0%,
        -150% 0%,
        -200% 0%,
        -250% 0%,
        -300% 0%,
        -350% 0%,
        -400% 0%,
        -450% 0%,
        -500% 0%,
        -550% 0%,
        -600% 0%,
        -650% 0%,
        -700% 0%,
        -750% 0%,
        -800% 0%,
        -850% 0%,
        -900% 0%;
    }
    100%{background-image: url('/public/bgpic/bgc1.jpg'), url('/public/bgpic/bgc2.jpg'), url('/public/bgpic/bgc3.jpg'), url('/public/bgpic/bgc4.jpg'), url('/public/bgpic/cbn1.jpg'), url('/public/bgpic/cbn2.jpg'), url('/public/bgpic/cbn3.jpg'), url('/public/bgpic/cbn4.jpg'), url('/public/bgpic/glr1.jpg'), url('/public/bgpic/hb1.jpg'), url('/public/bgpic/hb2.jpg'), url('/public/bgpic/psg1.jpg'), url('/public/bgpic/psg2.jpg'), url('/public/bgpic/psg3.jpg'), url('/public/bgpic/psg4.jpg'), url('/public/bgpic/ttt1.jpg'), url('/public/bgpic/ttt2.jpg'), url('/public/bgpic/ysb1.jpg'), url('/public/bgpic/ysb2.jpg'),url('/public/bgpic/ysb3.jpg'), url('/public/bgpic/ysb4.jpg');
        background-position: 
        1000% 0%,
        950% 0%,
        900% 0%,
        850% 0%,
        800% 0%,
        750% 0%,
        700% 0%,
        650% 0%,
        600% 0%,
        550% 0%,
        500% 0%,
        450% 0%,
        400% 0%,
        350% 0%,
        300% 0%,
        250% 0%,
        200% 0%,
        150% 0%,
        100% 0%,
        50% 0%,
        0% 0%;
    }
}


@media (max-width : 750px) { /* mobile */
    .scrollingImage{
        scroll-behavior: smooth;
        position: relative;
        overflow: auto;
        justify-content: left;
        display: flex;
        height: 100px;

        background-size: 35%;
        background-position: center; /* Center the background images */
        background-repeat: no-repeat;
    }
    .scrollingImage {
        background-color: rgb(200,200,200); /* Set background color */
        animation: scrollBackground2 63s linear infinite; /* Apply animations to each background image */
    }
    .btn {
        
        display: inline-block; /* Make the buttons inline with the logo */
        text-decoration: none;
        border: 2px solid transparent;
        border-radius: 5px;
        font-weight: bold;
        position: relative; /* Position relative for the vertical line */
        color: #000; /* Set text color */
        background-color: transparent;
        font-family: Helvetica;
        transition: all 0.2s ease;
        
    }

    body {
        background-color: rgb(240, 240, 240);
    }
    
    .LogoBtn {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        background-color:transparent;
        cursor: pointer;
    }
    .LogoBtn, .Logo {
        width: 120px; /* Adjust image size as needed */
        height: auto; /* Maintain aspect ratio */
    }
    .TopDiv {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1000;
    }

    .Logo, .LogoBtn{
        display: block;
    }
    .LogoBtn{
        margin-bottom: 20px;
    }
    .LogoNav{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .body{
        padding-top: 150px;
    }
    .btn{
        padding: 3vw;
        font-size: 3vw;
        margin: 1vw;
    }
}

@media (min-width : 750px) { /* PC and Tablet */
    .btn {
        display: inline-block; /* Make the buttons inline with the logo */
        margin: 0 10px; /* Add some spacing between the buttons */
        text-decoration: none;
        padding: 10px 20px;
        padding-bottom: 15px;
        border: 2px solid transparent;
        border-radius: 5px;
        font-weight: bold;
        position: relative; /* Position relative for the vertical line */
        color: #000; /* Set text color */
        background-color: transparent;
        font-family: Helvetica;
        transition: all 0.2s ease;
    }
    body {
        background-color: rgb(240, 240, 240);
        background-image: url("../background_2.png"), url("../background_1.png");
        background-position: bottom  right, top left;
        background-repeat: no-repeat, no-repeat;
        background-attachment: fixed,fixed;
        background-position-x: 0,0;
        background-position-y: 0,0;
        background-size: cover;
    }    
    .LogoBtn {
        display: inline-block;
        margin-top: 20px;
        margin-left: 20px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        padding: 0; /* Remove padding to ensure the image fits properly */
        right: 10px;
    }
    .LogoBtn, .Logo {
        width: 200px; /* Adjust image size as needed */
        height: auto; /* Maintain aspect ratio */
    }
    .TopDiv {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        background-color: rgba(255, 255, 255, 1);
        z-index: 1000;
    }

    
    .LogoNav,
    .nav {
        display: inline-block;
        vertical-align: middle; /* Align the sections vertically */
    }

    .body{
        padding-top: 100px;
    }
    
    .LogoNav {
        justify-content: flex-start; /* Align items horizontally to the start */
    }
    
    .nav {
        justify-content: flex-end; /* Align items horizontally to the end */
    }

    .main{
        width: 50%;
    }
    
}

