.loading-screen {
  text-align: center;
  transition: opacity 0.5s; /* Fade transition */
  
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0; /* Background color for the loading screen */
  
  position: fixed;
  top: 0;
  left: -100%; /* Initially hidden off the left side of the screen */
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9); /* Semi-transparent background */
  z-index: 9999; /* Ensure it's on top of other elements */
  transition: left 0.5s; /* Slide transition */
}

.loading-screen.visible {
  display: block; /* Show the loading screen when the 'visible' class is added */
  left: 0; /* Slide in from left to right */
}

.loading-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;
  margin: 0;
}

.s,.h,.a1,.p,.space,.c,.a2,.f,.e {
  font-size: 48px;
  display: inline-block;
  margin: 0;
}

.s, .h, .a1, .p {
  animation: bounce 0.5s infinite alternate;
  color: #00a86b;
  font-family: Helvetica;
}

.c, .a2, .f, .e {
  animation: bounce 0.5s infinite alternate;
  color: #ff7900;
  font-family: Helvetica;
}

.s {animation-delay: 0s;}
.h {animation-delay: 0.1s;}
.a1 {animation-delay: 0.2s;}
.p {animation-delay: 0.3s;}

.c {animation-delay: 0.5s;}
.a2 {animation-delay: 0.6s;}
.f {animation-delay: 0.7s;}
.e {animation-delay: 0.8s;}


@keyframes bounce {
  0% {
      transform: translateY(0);
  }
  100% {
      transform: translateY(-20px);
  }
}



body {
  font-family: Arial, sans-serif; /* Change all font */
}


@media (max-width : 431px) { /* mobile */
  body {
    background-color: rgb(240, 240, 240);
    font-family: Arial, sans-serif; /* Change all font */
  }
  .frm {
    background-color: white;
    border-radius: 30px;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%;
    margin: auto;
    
  }

  .logo {
    color: Green;
    text-align: center;
    font-weight: 750;
    font-size: 40px;
  }

  .main{
    width: 80%;
    margin: auto;
    background-color: rgb(0,0,0,0.6);
    border-radius: 30px;
    margin-top: 100px;
    
  }
    
  .s, .h, .a1, .p, .space, .c, .a2, .f, .e {
    font-size: 10vw;
  }

  .visibledevice {
    display:block;
  }
  
}

@media (max-width : 431px) { /* mobile */
  
  .header {
    margin-top: 10%; /* Top margin */
    font-size: 25px; /* Font size */
    padding: 10px; /* Padding */
  }
  
  .logo { /* 'SHAP' part of the header */
    font-weight: 700; /* Font weight */
    color: green; /* Text color */
  }
  
  .LogoCafe { /* 'cafe' part of the header */
    color: orange; /* Text color */
    font-weight: 750; /* Font weight */
  }
  
  .TermsAndServices { /* 'Terms' */
    font-weight: 600; /* Font weight */
    margin-top: 10px; /* Top margin */
    margin-bottom: 30px; /* Bottom margin */
  }
  
  .login { /* 'sign in' */
    font-weight: 700; /* Font weight */
  }
  
  .container { /* Whole container (white one) */
    margin: auto; /* Center the container horizontally */
    display: flex; /* Use flexbox for layout */
    flex-direction: column; /* Arrange items in a column */
    align-items: center; /* Center items horizontally */
  }
  
  .password-container {
    position: relative; /* Position relative */
    display: inline-block; /* Display as inline-block */
  }
  
  .ToggleBtn { /*눈 깔*/
    position: absolute; /* Position absolute */
    top: 50%; /* Align vertically at 50% from top */
    right: 10px; /* Distance from the right */
    transform: translateY(-50%); /* Adjust vertical position */
    background-color: transparent; /* Transparent background */
    border: none; /* No border */
    cursor: pointer; /* Cursor style */
    padding: 0; /* Remove padding */
  }
  
  .ToggleBtn, .ToggleIcon { /*눈 깔*/
    width: 20px; /* Image width */
    height: auto; /* Maintain aspect ratio */
  }
  
  .email {
    justify-content: center; /* Center content horizontally */
  }
  
  .email, .pswd {
    border-radius: 20px; /* Border radius */
    border-width: 0; /* No border */
    padding: 10px; /* Padding */
    text-align: center; /* Center text */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Box shadow */
    margin-top: 10px; /* Top margin */
    margin-bottom: 10px; /* Bottom margin */
  }
  
  .SignupMessageDiv {
    font-weight: 700; /* Font weight */
    margin-top: 20px; /* Top margin */
    text-align: center; /* Center text */
    font-size: small; /* Font size */
  }
  
  .SignupMessage1 {
    color: #acacac; /* Text color */
    font-size: small; /* Font size */
    padding-top: 10px; /* Top padding */
  }
  
  .LoginBtn {
    border-radius: 20px; /* Border radius */
    padding: 10px; /* Padding */
    text-align: center; /* Center text */
    border-width: 0; /* No border */
    background-color: orange; /* Background color */
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; /* Box shadow */
    cursor: pointer; /* Cursor style */
    width: 80%; /* Button width */
    margin-top: 10px; /* Top margin */
    margin-bottom: 10px; /* Bottom margin */
  }
  
}




@media (min-width : 431px){ /* Pc, Tablet 공용*/
  body {
    background-color: rgb(240, 240, 240);
    background-image: url("background_2.png"), url("background_1.png");
    background-position: bottom  right, top left;
    background-repeat: no-repeat, no-repeat;
    background-attachment: fixed,fixed;
    background-position-x: 0,0;
    background-position-y: 0,0;
    background-size: cover;
  }
  
  .header {
    margin-top: 10%;
    font-size: 25px;
    padding: 10px;
  }
  
  .logo{  /* 'SHAP' part of the header */
    font-weight: 700;
    color: green;
  }
  
  LogoCafe { /* 'cafe' part of the header*/
    color: orange;
    font-weight: 750;
  }
  
  
  .TermsAndServices { /* 'Terms' */
    font-weight: 600;
    margin-top: 10px;
    margin-bottom: 30px;
  }
  
  
  .login { /* 'sign in' */
    font-weight: 700;
  }
  
  .container { /* Whole container (white one) */
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  
  .password-container {
    position: relative;
    display: inline-block;
  }
  
  .ToggleBtn { /*눈 깔*/
    position: absolute;
    top: 50%;
    right: 10px; /* Adjust distance from the password input */
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0; /* Remove padding to ensure the image fits properly */
  }
  
  
  .ToggleBtn, .ToggleIcon {/*눈 깔*/
    width: 20px; /* Adjust image size as needed */
    height: auto; /* Maintain aspect ratio */
  }
  
  .email{
    justify-content: center;
  }
  
  .email,.pswd {
    border-radius: 20px;
    border-width: 0;
    padding: 10px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  
  .SignupMessageDiv{
    font-weight: 700;
    margin-top: 20px;
    text-align: center;
    font-size: small;
  }
  
  .SignupMessage1{
    color: #acacac;
    font-size: small;
    padding-top: 10px;
  }
  
  .LoginBtn {
    border-radius: 20px;
    padding: 10px;
    text-align: center;
    border-width: 0;
    background-color: orange;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    cursor: pointer;
    width: 80%;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
}

@media (min-width : 431px){ /* Pc, Tablet */

  .frm {
    background-color: white;
    border-radius: 30px;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 300px;
  }
  
  .logo {
    color: Green;
    font-weight: 750;
    font-size: 40px;
    margin-left: 40px;
    
  }

  .main{
    margin-left: 10vw;
    background-color: rgb(0,0,0,0.6);
    width: 300px;
    border-radius: 30px;
    margin-top: 100px;
  }

  .visibledesktop {
      display:block;
  }  
}