body {
  background-color: rgb(240, 240, 240);
  background-image: url("background_2.png"), url("background_1.png");
  background-position: bottom  right, top left;
  background-repeat: no-repeat, no-repeat;
  background-attachment: fixed,fixed;
  background-position-x: 0,0;
  background-position-y: 0,0;
}

.header {
  margin-top: 10%;
  font-size: 25px;
  padding: 10px;
}

.logo{  /* 'SHAP' part of the header */
  font-weight: 700;
  font-family: helvetica;
  color: green;
}

LogoCafe { /* 'cafe' part of the header*/
  color: orange;
  font-weight: 750;
}


.TermsAndServices { /* 'Terms' */
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 30px;
}


.GoToSignUpPageBtn{
  margin-bottom: 20px;
}



.login { /* 'sign in' */
  font-weight: 700;
  font-family: helvetica;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.email{
  justify-content: center;
  align-items: center;
}


.email,.pswd {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border-width: 0;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}



.LoginBtn {
  border-radius: 20px;
  padding: 10px;
  text-align: center;
  border-width: 0;
  background-color: orange;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  cursor: pointer;
  width: 80%;
}

.email,
.pswd,.LoginBtn{
  margin-top: 10px;
  margin-bottom: 10px;
}

.SignupMessageDiv{
  font-weight: 700;
  margin-top: 20px;
  text-align: center;
}

.SignupMessage1{
  text-align: center;
  color: #acacac;
  font-size: small;
}

.SignupMessage2{
  text-align: center;
  font-size: small;
}

@media only screen and (min-width: 400px) {
  body {

    background-size: cover;
  }
}


.visibledevice {display:none;}
.visibledesktop {display:none;}

@media (max-width : 431px) { /* mobile */
    
    .frm {
      background-color: white;
      border-radius: 30px;
      max-width: 400px; /* Adjust the maximum width as needed */
      width: 100%;
      margin: auto;
      font-family: helvetica;
    }

    .logo {
      color: Green;
      text-align: center;
      font-family: helvetica;
      font-weight: 750;
      font-size: 40px;
    }

    .main{
      width: 80%;
      margin: auto;
      font-family: helvetica;
      background-color: rgb(0,0,0,0.6);
      border-radius: 30px;
      margin-top: 100px;
      
    }
      

    .visibledevice {
      display:block;
    }
    
}

@media (min-width : 431px){ /* Pc, Tablet */

    .frm {
      background-color: white;
      border-radius: 30px;
      max-width: 400px; /* Adjust the maximum width as needed */
      width: 300px;
      font-family: helvetica;
    }
    
    .logo {
      color: Green;
      font-family: helvetica;
      font-weight: 750;
      font-size: 40px;
      margin-left: 40px;
      
    }

    .main{
      margin-left: 10vw;
      font-family: helvetica;
      background-color: rgb(0,0,0,0.6);
      width: 300px;
      border-radius: 30px;
      margin-top: 100px;
    }

    .visibledesktop {
        display:block;
    }  
}@media (max-width : 431px) { /* mobile */
    
  .frm {
    background-color: white;
    border-radius: 30px;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 100%;
    margin: auto;
    
  }

  .logo {
    color: Green;
    text-align: center;
    font-family: helvetica;
    font-weight: 750;
    font-size: 40px;
  }

  .main{
    width: 80%;
    margin: auto;
    font-family: helvetica;
    background-color: rgb(0,0,0,0.6);
    border-radius: 30px;
    margin-top: 100px;
    
  }
    

  .visibledevice {
    display:block;
  }
  
}

@media (min-width : 431px){ /* Pc, Tablet */

  .frm {
    background-color: white;
    border-radius: 30px;
    max-width: 400px; /* Adjust the maximum width as needed */
    width: 300px;
  }
  
  .logo {
    color: Green;
    font-family: helvetica;
    font-weight: 750;
    font-size: 40px;
    margin-left: 40px;
    
  }

  .main{
    margin-left: 10vw;
    font-family: helvetica;
    background-color: rgb(0,0,0,0.6);
    width: 300px;
    border-radius: 30px;
    margin-top: 100px;
  }

  .visibledesktop {
      display:block;
  }  
}