

@media (max-width : 431px) { /* mobile */
    
    body {
        background-color: #faf0e6;
    }

    .back {
        text-decoration: none;
        font-size: 20px;
        background-color: white;
        border-radius: 50%;
        color: black;
        margin-left: 15px;
        margin-top: 15px;
        padding: 8px 16px;
        display: inline-block;
    }



    .dishb, .sdish, .oth{
        text-decoration: none;
        font-size: 20px;
        font-weight: 450;
        background-color: white;
        color: black;
        padding: 10px;
        display: inline-block;
        text-align: center;
        margin-top: 20px;
        margin-left: 10px;
    }

    }

    .btn:hover {
        transition-delay: 180ms;
        background-color: rgba(79, 78, 78, 0.558);
    }

    .btn{
        border-radius: 40%;
    }

    .logo {
        font-family: helvetica;
        font-weight: 750;
        font-size: 35px;
        margin-top: 20px;
        margin-left: 20px;
    }

    .main {
        background-color: white;
        border-radius: 50px;
        padding: 20px;
        margin-top: 30px;
    }

    .main .logo {
        font-size: 40px;
    }

    .dish h1 {
        font-family: helvetica;
        font-weight: 750;
        font-size: 25px;
        margin-top: 20px;
    }

    .dish p {
        font-family: helvetica;
        font-size: 15px;   
    }

    .dish .price {
        font-family: helvetica;
        font-size: 20px; 
        margin-left: 40%;
        font-weight: 750;
    }

    .dish a {
        text-decoration: none;
        font-family: helvetica;
        font-size: 11px; 
        margin-left: 41%;
        font-weight: 500;
        color: black;
        background-color: blanchedalmond;
        padding: 5px;
        border-radius: 10px;
    }

    .visibledevice {
        display:block;
    }

@media (min-width : 431px){ /* Pc, Tablet */
    body {
        background-color: red;
    }
      

    .visibledesktop {
        display:block;
    }  
}

