body {
    background-color: #faf0e6;
}

.back {
    text-decoration: none;
    font-size: 20px;
    background-color: white;
    border-radius: 50%;
    color: black;
    margin-left: 15px;
    margin-top: 15px;
    padding: 8px 16px;
    display: inline-block;
}

.logo {
    font-family: helvetica;
    font-weight: 750;
    font-size: 35px;
    margin-top: 20px;
    margin-left: 20px;
}

.main {
    background-color: white;
    border-radius: 50px;
    padding: 20px;
    margin-top: 30px;
}


.visibledevice {
    display:block;
}

.btn:hover {
    transition-delay: 180ms;
    background-color: rgba(79, 78, 78, 0.558);
}

.btn{
    border-radius: 40%;
}

.container-cart-table {
    font-size: 12px;
}

.quan {
    text-align: center;
    width: 10px;
    margin-left: 45%;
}

th {
    font-weight: 700;
    font-family: helvetica;
    font-size: 15px;
    padding-left: 20px;
}

.name {
    text-align: center;
    margin-left: 25%;
}

.ttl {
    margin-left: 45%;
}

.rmv {
    margin-left: 55%;
}




@media (max-width : 431px) { /* mobile */
    
    
}



@media (min-width : 431px){ /* Pc, Tablet */
    


}